# Binaries
/tmp/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test
*.out
.env

# Go build artifacts
bin/
*.log

# Templ build artifacts
*.templ.go
*_templ.go

# Air temp files
.air/
tmp/
air.conf
.air.toml # Only ignore if you're okay not sharing config

# Compressed files
*.gz

# Dependency directories (if using vendoring)
vendor/

# IDE/editor settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS-specific files
Thumbs.db
ehthumbs.db

# Docs
/docs/